/*Style Sheet for Hamby's Bicycles Web Page*/

* { margin: 0; padding: 0; }

/*Media queries*/

/*tablet portrait to standard 960*/
@media only screen and (max-width: 959px) {
    #nav_menu ul li a {font-size: .875em; }
    main h2 {font-size: 1.5em;}
    aside h2 {font-size: 1.5em;}
}

/*mobile landscape to table portrait*/
@media only screen and (max-width: 767px) {
    #nav_menu {display: none; }
    #mobile_menu {display: block; }
    body {
        width: 100%;
        margin: 0;
        border: none;
    }
    header, footer, p {text-align: center; }
    footer p {margin-right: 0; }
    header h2 {
        font-size: 1.625em;
        margin: .4em 0 .25em 0;
    }
    header h3 {
        font-size: 1em;
        margin-left: 0;
    }
}

/*Adjust the style for the body*/
body {
    background-color: rgb(214, 246, 255) ;
    font-family:'Times New Roman', Times, serif;
    font-size: 100%;
    width: 90%;
    max-width: 1024px;
    margin: 10px auto;
    border: 3px dotted rgb(106, 102, 205);
}

header { border-bottom: 2px solid black; 
}

/*Adjust the style for the main(left) column*/
main { 
    width: 45%;
    float: left;
    border-right: 2px solid black;
}

/*Adjust the style for the aside(right) column*/
aside { 
    width: 45%;
    float: right;
}

/*Adjust the style for the footer*/
footer {
    clear: both;
    border-top: 2px solid black
}

/*Adjust the style for h1*/
h1 {
    margin: 0 auto;
    padding: 10px 1.0417%;
    font-size: 2em;
    color: rgb(30, 11, 11);
}

/*Adjust the style for h2*/
h2 {
    padding: 10px 1.0417%;
    font-size: 1.5em;
    color: rgb(58, 0, 128)
}

/*Adjust the style for the paragraph*/
p {
    margin: 0;
    color: rgb(31, 39, 100);
    padding-left: 5px 0.5208%;
    padding-right: 5px 0.5208%;
}

/*Adjust the style for images*/
img {
    position: relative;
    width: 100%;
    height: 80%;
}

/*Adjust the style for the bicycle image*/
.bicycle {
    width: 90%;
    max-width: 700px;
    height: 350px;
    border: 5px solid blue;
    border-radius: 20px;
    position: relative;
    margin: 10px;
}
/*Adjust style for the figure*/
figure {
    float: none;
}

/*Adjust style for the figcaption*/
figcaption {
    display: block;
    font-weight: bold;
    padding-top: .25em;
    margin-bottom: 1em;
    border-bottom: 1px solid navy;
}

/*Adjust the style for the unordered list*/
ul li {
    padding-left: 10px;
    margin-left: 20px;
}

/*Adjust the style for the ordered list*/
ol li {
    padding-left: 10px;
    margin-left: 20px;
}

/*Adjust the style for the navigation menu*/
#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 100px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

/*Display the mobile menu*/
#mobile_menu {display: block;}

