/*Style Sheet for Hamby's Bicycles Web Page*/

* { margin: 0; padding: 0; }
/*Adjust the style for the body*/
body {
    background-color: rgb(253, 254, 175) ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    width: 725px;
    margin: 10px;
    border: 3px dotted mediumaquamarine;
}

header { border-bottom: 2px solid black; }

/*Adjust the style for the main(left) column*/
main { 
    height: 350px;
    width: 600px;
    float: left;
    border-right: 2px solid black;
}

/*Adjust the style for the aside(right) column*/
aside { 
    width: 360px;
    float: right;
}

/*Adjust the style for the footer*/
footer {
    clear: both;
    border-top: 2px solid black
}

/*Adjust the style for h1*/
h1 {
    margin: 0 auto;
    padding: 10px;
    font-size: 200%;
    color: rgb(30, 11, 11);
}

/*Adjust the style for h2*/
h2{
    font-size: 150%;
    color: teal
}

/*Adjust the style for the paragraph*/
p {
    margin: 0;
    color: rgb(31, 39, 100);
    padding-left: 5px;
    padding-right: 5px;
}

/*Adjust the style for the image*/
img {
    width: 700px;
    height: 350px;
    border: 5px blue;
    border-radius: 20px;
    position: relative;
}

